* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Geist Mono Nerd Font;
  font-size: 15px;
}

window#waybar {
  background-color: transparent
    /*#ADC0C9*/
  ;
  transition-property: background-color;
  transition-duration: 0.5s;
  opacity: 1;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  font-size: 15px;
  background-color: transparent;
  border-color: #694355;
}

#workspaces button {
  font-size: 15px;
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: transparent;
  color: #694355;
}

#workspaces button.active {
  font-size: 15px;
  color: #1e1e2e;
  background-color: #694355;
}

#workspaces button:hover {
  font-size: 15px;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #694355;
}

#workspaces button.urgent {
  font-size: 15px;
  background-color: #f38ba8;
}

#custom-hyprpicker,
#cpu,
#memory,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  color: #1e1e2e;
  background-color: #694355;
}

#custom-power {
  font-size: 15px;
  margin-right: 6px;
}

#custom-logo {
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 5px;
  font-size: 25px;
  border-radius: 8px 0px 0px 8px;
  color: #1793d1;
}

/*# ####################
  ###CUSTOM MODULES###
  #################### */
#custom-hyprpicker {
  font-size: 15px;
  color: #1e1e2e;
  background-color: #694355;
}

#custom-cpu {
  font-size: 15px;
  color: #1e1e2e;
  background-color: #694355;
}

#memory {
  font-size: 15px;
  color: #1e1e2e;
  background-color: #694355;
}

#battery {
  font-size: 15px;
  color: #1e1e2e;
  background-color: #694355;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  font-size: 15px;
  background-color: #ff0000;
  color: #FFFF00;
}

#battery.charging {
  font-size: 15px;
  background-color: #a6e3a1;
  color: #181825;
}

#backlight {
  font-size: 15px;
  background-color: #694355;
}

#pulseaudio {
  font-size: 15px;
  color: #1e1e2e;
  background-color: #694355;
}

#network {
  font-size: 15px;
  background-color: #694355;
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;
  background-color: #694355;
}

#custom-power {
  font-size: 15px;
  background-color: #694355;
}


tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}